<!DOCTYPE html>


<html>
    <head> 
        <script src="/static/mitm.js"> </script>

    </head>

    <body> 

        <h1> Repurposed sslstrip tool for http MITM </h1>

        <a href="https://github.com/L1ghtn1ng/sslstrip">Source : https://github.com/L1ghtn1ng/sslstrip</a>


        <div> Visit localhost:8080, we will intercept our traffic to localhost:8080 </div>
        <div> See sslstrip repository to configure for MITM, for our purposes, we are just testing using docker</div>

        <div> Currently no Intercepted Traffic</div>
        <div> Press the button below or </div>

        <button type='button' onclick='NextTraffic()'>Press to check for traffic or simply REFRESH the page</button>
    </body>
</html>
